.alert {
	padding: 10px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
	margin-top: 5px;
	margin-bottom: 5px;
	display: none;
}

.alert.success {
	background-color: lime;
	color: black;
}

.alert.info {
	background-color: #2196F3;
}

.alert.warning {
	background-color: red;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}