#choice, #scegli {width: 50%;
				  height: 30%;
	    		  font-size: 16px;
	   			  background-color: #b3b3b3;
	  			  font-family: Arial, Helvetica;
	  			  padding: 5px;}

input[type="button"]{
	border: 3px solid black;
}
	
#nome, #prezzo_vendita2, #prezzo_acquisto2 /*input[type="checkbox"]*/{
	text-align: left;
	font-family: Arial, Helvetica;
	 font-size: 16px;
	 width: 5%;
	 margin-left: 1px;
	 padding: 0.5%;
}

#nameQuery /*input[type="text"]*/{
	width: 30%;
	height: 10%;
	padding: 0.5%;
}

#salePrice, #purchasePrice /*input[type="number"]*/{
	width: 10%;
	height: 10%;
	padding: 0.5%;
}
