#form-wrapper {
	width: 100%;
	height: 44px;
}

.nav-list {
	position: relative;
	padding: 5px 20px 5px 5px;
	float: left;
	border: none;
	height: 0%;
}

#dropdown {
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	height: 44px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid orange;
	top: 0;
}

#dropdown:hover {
	background-color: lightgray;
}

#dropdown:focus {
	outline: none;
}

.in-wrap {
	overflow: hidden;
	height: 100%;
}

#search-box {
	width: 100%;
	min-width: 400px;
	height: 40px;
	border: 1px solid orange;
	padding-left: 100px;
}

#search-box:focus {
	outline: none;
}

.go-button {
	float: right;
	height: 100%;
	background-color: orange;
	border: 1px solid orange;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin: 0px;
	padding: 0px 15px;
}

.go-button:hover {
	background-color: #ff7300;
	cursor: pointer;
}

.go-button:focus {
	outline: none;
}