.layer {
	width: 100%;
	text-align: center;
}

.registration-form fieldset {
	width: 30%;
	padding: 1%;
	border: 1px solid white;
	text-align: left;
	display: inline;
	vertical-align: top;
}

/*to override bootstrap*/
.registration-form legend{
	 width:auto;
	 border-bottom: none;
	 padding:0 5px;
	 margin-bottom: 0px;
}

.registration-form {
	background: gray;
	margin: 2% auto;
	padding-top: 20px;
	text-align: center;
}

.registration-form p.contact {
	font-size: 12px;
	margin: 0px 0px 10px 0;
	line-height: 14px;
	font-family: Arial, Helvetica;
}

.registration-form input[type="password"]:invalid {
	color: red;
}

.registration-form input[type="password"]:valid {
	color: lime;
}

.registration-form input[type="radio"] {
	width: auto;
	text-align: left;
}

.registration-form label {
	color: #000;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, Helvetica;
}

.registration-form input {
	background-color: lightgray;
	width: 95%;
	padding: 2%;
	font-family: Keffeesatz, Arial;
	color: #4b4b4b;
	font-size: 14px;
	-webkit-border-radius: 5px;
	margin-bottom: 15px;
}

.registration-form input[type="submit"] {
	width: auto;
}

.registration-form select {
	width: 100%;
	padding: 2%;
}

.registration-form input:focus {
	outline: none; /*per evitare che appaiano i bordi squadrati*/
	border: 1px solid blue;
	background-color: white;
}