.registration-form {
	background: gray;
	margin: 2% auto;
	padding-top: 20px;
	text-align: center;
}

.registration-form p.contact {
	font-size: 12px;
	margin: 0px 0px 10px 0;
	line-height: 14px;
	font-family: Arial, Helvetica;
}

.registration-form input[type="text"] {
	width: 400px;
}

.registration-form input[type="email"] {
	width: 400px;
}

.registration-form input[type="password"] {
	width: 400px;
}

.registration-form input[type="password"]:invalid {
	color: red;
}

.registration-form input[type="password"]:valid {
	color: lime;
}

.registration-form label {
	color: #000;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, Helvetica;
}

.registration-form label.month {
	width: 135px;
}

.registration-form input{
	background-color: lightgray;
	//border: 1px solid lightblue;
	padding: 7px;
	font-family: Keffeesatz, Arial;
	color: #4b4b4b;
	font-size: 14px;
	-webkit-border-radius: 5px;
	margin-bottom: 15px;
	margin-top: -10px;
}

.registration-form input:focus {
	outline: none;
	border: 1px solid blue;
	background-color: white;
}